<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include('../parts/bootstrap.ejs'); %>
    <%- include('../parts/css.ejs'); %>
    <%- include('../parts/js.ejs'); %>
  </head>
  <body>
    <div class="container-fluid">

      <!-- first row -->
      <div class="row"><%- include('../parts/top1.ejs'); %></div>

      <div class="row" style="margin-top:70px;">
        <div class="col-md-8 col-md-offset-2">

          <div class="header" style="background-color:#60B078; padding:7px; margin-bottom:7px;">
            <div class="pull-right" >
              <div class="btn-group" style="margin-right:15px;">
                <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>저장하기</strong></a>
                <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>공유하기</strong></a>
              </div>
            </div>
            <!-- 그래픽아이콘첨 -->
            <h3 class="modal-title" id="myModalLabel" style="color:#ffffff; margin-top:0px;"><i class="glyphicon glyphicon-briefcase"></i> 로앤컴퍼니 (LawTalk)</h3>
          </div>

          <div class="body">
            <div class="container-fluid">
              <!-- 회사 메인 이미지 default -->
              <div class="row">
                <img class="img-responsive" id="article-photo-carousel"src="http://localhost:3000/img/logo/co.png">
                <div class="pull-right" id="imgb">
                  <ul class="list-group" style="width:320px;"> <!-- 가로 길이를 설정함 -->
                    <li class="list-group-item"><strong>로앤컴퍼니 (LawTalk)</strong></li>
                    <li class="list-group-item"><strong>홈페이지:</strong> www.law.comdd</li>
                    <li class="list-group-item"><strong>채용구분:</strong> 사무직</li>
                    <li class="list-group-item"><strong>주소:</strong> <p>Aurora ave north, Seattle, WA 98109</p></li>
                    <li class="list-group-item"><strong>연락처:</strong> 60billions@gmail.com</li>
                    <li class="list-group-item"><a class="btn btn-success" style="background: #60B078; width:230px;" href="#" role="button"><strong>이력서 제출</strong></a></li>
                    <!-- 회원정보 -->
                    <li class="list-group-item">
                      <div class="media">
                      <div class="media-left media-middle">
                        <a href="#">
                          <img class="media-object" src="http://localhost:3000/img/profile1.png" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">아이디: 60billion</h4>
                        <p></p>
                        <p>상태:우수회원입니다.</p>
                        <p>로앤컴퍼니 채용담당자</p>
                      </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- company info -->
              <!-- job description -->
              <div class="row">
                <h3><strong>상세내용</strong></h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          회사 소개
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <p>#### 로앤컴퍼니는 대한민국 법률시장의 선진화와 대중화를 만들어가겠습니다.</p>

                        <p>대한민국의 법률시장은 빠르게 변화하고 있습니다. 로스쿨의 등장에 따른 변호사 수의 증가, FTA발효와 함께 시작된 해외 대형 로펌의 국내시장 진출, </p>
                        <p>법원을 중심으로 추진되고 있는 소송 전자화와 판결 내용 공개 등이 대표적입니다. 이러한 법률시장의 변화는 현재 법조계에 종사하는 수 많은 법조인들에게는 </p>
                        <p>위협이자 동시에 큰 기회이기도 합니다. 로앤컴퍼니는 급변하는 대한민국 법률시장에서 새로운 기회를 창출하고자 합니다.</p>

                        <p>로톡 - 좋은 변호사와 법률 상담 : [www.lawtalk.co.kr](https://www.lawtalk.co.kr)</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          채용 내용
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        주요 업무

                        로톡(https://www.lawtalk.co.kr) 서비스의 백엔드/프론트엔드 개발합니다.

                        - 나이/성별/학력/전공 무관
                        - 웹/모바일 서비스에 대한 이해 높으신 분
                        - 논리적이고 열린 커뮤니케이션을 잘 하시는 분
                        - 새로운 것을 공부하고 적용하는 것을 좋아하시는 분
                        - StackOverflow 등 영어로 된 기술 문서를 이해할 수 있으신 분

                        1. 지원자격
                        - 3년 이상 웹 백앤드/프론트앤드 개발 경험 있으신 분
                        - HTML5, CSS, Javascript(최소 ES5) 기본 지식 보유하신 분
                        - AWS, Git, HTTP, RESTful API 클라이언트 개발 경험 있으신 분
                        - Gulp, Webpack등 태스크 관리와 번들 도구 경험 있으신 분
                        - Node.js, MongoDB 기반의 개발 경험 있으신 분
                        - 기획/디자인/운영 등 다양한 직군과 함께 문제 정의하고 해결책 찾아나갈 수 있는 협업 능력
                        - 새로운 기술과 서비스에 대한 관심과 학습 의지

                        2. 우대사항
                        - Javascript MV* 기반 웹앱 개발 및 운영 경험 (Angular, React, Backbone, Vue 등) 있으신 분
                        - 단위 테스트, UI 테스트 자동화 및 배포 자동화 경험 있으신 분
                        - 웹사이트 성능 측정 및 최적화 작업 경험 있으신 분
                        - DevOps, Docker 경험 있으신 분
                        - 서버 엔지니어링 경험 있으신 분

                        3. 개발환경
                        - Node.js, MongoDB, AngularJS를 주력으로 클라우드를 이용하고 있습니다.
                        - HTML/Jade, CSS/SASS를 사용하며 Responsive, 크로스 브라우징을 고려하여 개발합니다.
                        - 모바일(Android, iOS, Hybrid)과 PC(C#, Node-webkit) 어플리케이션 프로토타이핑을 합니다.
                        - AngularJS, Node.js, Express 기반으로 끊임없이 아키텍쳐를 좋은 방향으로 개선하고 있습니다.
                        - GitHub, Trello, Slack을 이용하여 효율적인 협업 문화와 업무 프로세스를 만들고 있습니다.
                        - CoffeeScript, Jade, SASS 등을 도입하여 코드량을 줄이고 개발 효율을 높이고 있습니다.
                        - 더 좋은 개발 환경과 문화를 만들기 위해서 다 같이 고민하고 시도하고 실천합니다.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          복지 혜택
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 지도 -->
              <div class="row">
                  <h3><strong>회사위치</strong></h3>
                    <div id="map1"></div>
              </div>


              <!-- relative listing -->
              <div class="row">
                <h3><strong>관련 채용 리스트</strong></h3>
                <!-- 관련리스트 -->
                <%- include('../job/jobSampleList1.ejs'); %>
              </div>


            </div>
          </div>

        </div>
      </div>

      <!-- last row(bottom) -->
      <div class="row" id="bottom"></div>

  </body>
</html>
