<html>
  <head>
    <meta charset="utf-8">
    <%- include('../parts/bootstrap.ejs'); %>
    <%- include('../parts/css.ejs'); %>
  </head>
  <body>
    <div class="container-fluid">

      <!-- first row -->
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><%- include('../parts/top1.ejs'); %></div>
        <div class="col-md-2"></div>
      </div>

      <!-- Second Row -->
      <div class="row">
        <hr/>
        <div class="col-md-2"></div>
        <div class="col-md-8"><%- include('../parts/top2.ejs'); %></div>
        <div class="col-md-2"></div>
      </div>

      <!-- Third Row(houseList) -->
      <div class="row">
        <hr/>
        <div class="col-md-2"></div>
        <div class="col-md-8"><%- include('../parts/houseSampleList.ejs'); %></div>
        <div class="col-md-2"></div>
      </div>

      <!-- Fourth Row (jobList) -->
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><hr/><%- include('../parts/jobSampleList.ejs'); %></div>
        <div class="col-md-2"></div>
      </div>

      <!-- fifth Row (saleList) -->
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><hr/><%- include('../parts/saleSampleList.ejs'); %></div>
        <div class="col-md-2"></div>
      </div>

      <!-- sixth Row (infoList) -->
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><hr/><%- include('../parts/infoSampleList.ejs'); %></div>
        <div class="col-md-2"></div>
      </div>

      <!-- seventh Row(bottom) -->
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">bottom</div>
        <div class="col-md-2"></div>
      </div>
    </div>


  </body>
</html>
